<h2>Bienvenue dans votre Conciergerie</h2>

<h1><%= link_to "Annuaire des Restaurants", restaurants_path %></h1>
<h1><%= link_to "Liste de mes tâches", bookings_path %></h1>
<h1><%= link_to "Liste de mes réservations", new_reservation_path %></h1>
