

<h1><%= link_to 'Home', root_path %></h1>


<% @reservations.each do |reservation| %>
  <li><%= reservation.restaurant %></li>
  <li><%= reservation.jour %></li>
  <li><%= reservation.heure %></li>
<% end %>
