<h1>RESTAURANTS</h1>

<% @restaurants.each do |restaurant| %>

  <div>
    <%= restaurant.rest_name %>
    <%= restaurant.city %>
    <%= restaurant.id %>
    <%= link_to "Réserver", new_restaurant_booking_path(restaurant)%>
  </div>

<% end %>
